.nav {
    display: flex;               
    justify-content: space-between;
    align-items: center;        
    padding: 10px 20px;        
  }
  
  .nav h1 {
    margin: 0;     
    font-size: 39px;
    font-family: 'Poppins';   
    color: burlywood;         
  }
  
  .anchors {
    display: flex;             
  }
  
  .anchors a {
    margin:20px 20px;     
    text-decoration: none;     
    color: #fff;      
    font-size: 20px; 
  }
  
  .anchors a:hover {
    color: burlywood;           
  }
  .btn{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    background: #54643a;
    text-decoration: none;
    border-radius: 10px;
    white-space: nowrap;
    transition: all 0.3s ease;
    border: none;
  }