.nav {
  display: flex;               
  justify-content: space-between;
  align-items: center;        
  padding: 10px 20px;        
}

.nav h1 {
  margin: 0;     
  font-size: 45px;
  font-family: 'Poppins';   
  color: burlywood;         
  border-radius: 10px;
  border: none;
  white-space: nowrap;
  background: #414933;
  padding: 12px 35px;
}

.anchors {
  display: flex;             
}

.anchors a {
  margin:20px 20px;     
  text-decoration: none;     
  color: #fff;      
  font-size: 20px; 
}
.anchors a i{
  font-size: 15px;
}

.anchors a:hover {
  color: burlywood;           
}
.btn{
  font-size: 16px;
  font-weight: 500;
  padding: 7px 35px;
  background: rgb(8, 77, 8);
  text-decoration: none;
  border-radius: 10px;
  white-space: nowrap;
  transition: all 0.3s ease;
  border: none;
}
.dropdown {
  position: relative; /* Ensure the content is positioned relative to the dropdown */
  display: inline-block; /* Allow dropdown to fit content */
  text-decoration: none;
  color: black;
  padding: 10px 15px;
  cursor: pointer; 
}

.content {
  position: absolute;
  background-color: #414933;
  min-width: 100px;
  box-shadow: 2px 2px 5px black;
  display: none;
  opacity: 0; 
  transition: opacity 0.3s ease, transform 0.3s ease; 
  transform: translateY(10px); 
  z-index: 1;
}

.dropdown:hover .content {
  display: block;
  opacity: 1; 
  transform: translateY(0); 
}

.content a {
  display: block; 
  color: white; 
  padding: 10px 15px; 
  text-decoration: none; 
}

.content a:hover {
  background-color: #575c4d; 
  color: yellow; 
}
